.social-media-list {
    li {
        float: left;
        margin: 2px 6px 2px 0;
    }

    li + li,
    .svg-icon {
        padding: 0;
    }
    
    .username {
        display: none;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}